.favorites-page-wrapper {
  background-color: #f0f8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.favorites-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(135deg, #4a90e2, #6bc1e9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.favorites-header-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.favorites-header-search-container button {
  padding: 8px 15px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.favorites-header-search-container button:hover {
  background-color: #357ab7;
}
.favorites-header-logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favorites-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.favorites-header-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.favorites-header-search-input {
  width: 200px;
  border-radius: 8px;
  padding: 8px 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorites-header-buttons {
  display: flex;
  gap: 15px;
}

.favorites-header-button {
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.favorites-header-button:hover {
  background-color: white;
  color: #4a90e2;
  transform: scale(1.05);
}

/* Title */
.favorites-page-title {
  margin-top: 100px;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Favorites Grid */
.favorites-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}

/* Card */
.favorites-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.favorites-card:hover {
  transform: scale(1.05);
}

.favorites-card-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #f44336;
  cursor: pointer;
}

/* Image */
.favorites-card-image-container {
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: center; /* Görselleri yatay merkezler */
  align-items: center; /* Görselleri dikey merkezler */
}

.favorites-card-image {
  width: auto;
  height: 100%;
  object-fit: contain; /* Görüntü tam olarak gösterilir */
  object-position: center; /* Görüntü merkeze hizalanır */
  border-radius: 8px;
}

/* Details */
.favorites-card-details {
  margin-top: 10px;
}

.favorites-card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.favorites-card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a90e2;
  margin: 5px 0;
}

.favorites-card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
