/* Genel Sayfa Stilleri */
.product-my-ads-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
}

/* Header */
.product-my-ads-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(135deg, #4a90e2, #6bc1e9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.product-header-logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.product-header-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.product-header-search-input {
  width: 130px;
  border-radius: 8px;
  padding: 8px 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}

.product-header-buttons {
  display: flex;
  gap: 10px;
}

.product-header-button {
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-header-button:hover {
  background-color: white;
  color: #4a90e2;
  transform: scale(1.05);
}

/* Başlık */
.product-my-ads-title {
  text-align: center;
  margin-top: 100px;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* İlan Kartları */
.product-ads-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-ad-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.product-ad-card:hover {
  transform: scale(1.05);
}

.product-ad-image-container {
  max-width: 100%;
  height:150px;
  display: flex;
  justify-content: center; /* Görselleri yatay merkezler */
  align-items: center; /* Görselleri dikey merkezler */
}

.product-ad-image-container img {
  width: auto;
  height: 100%;
  object-fit: contain; /* Görüntü tam olarak gösterilir */
  object-position: center; /* Görüntü merkeze hizalanır */
  border-radius: 8px;
}

.product-ad-details h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.product-ad-details p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
